@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="GameBuyBox">
    <div class="GameInChip">
        <div class="GameInChipImage"><img src="~/Content/image/fiol.png"></div>
        <div class="GameInChipPrice"><p>0</p></div>
    </div>
    <div class="chipGameBuy"><a href="#">Оплатить</a></div>
</div>
