@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="GamePageBox">
        <div class="GamePageBoxImage"><img src="~/Content/image/games/crusaderkings.jpg"></div>
        <div class="GamePageBoxDesc">
            <p>Военные конфликты Средних Веков и Крестовые Походы всегда являлись неотъемлемыми фаворитами среди игроков по всему миру. Глобальные стратегии и симуляторы, RPG и пошаговые аркады — все перемешалось в тёмных веках и хаосе феодальных стычек и религиозных споров. Возьмите и вы на себя тяжёлую ношу хранителя земель и защитника слабых в стратегии от Paradox Development Studio, став великим тираном или присланным небесным воинством ангелом.</p>

            <p>Crusader Kings II — стратегия в реальном времени, созданная по классическим лекалам мастеров своего дела. Любовно воссоздавая мировые войны тех смутных лет, разработчики предлагают вам стать правителем Европы, участником дворцовых интриг и защитником Святых и смертных.</p>

            <p>Хаос накрыл все земли Европы, заставив феодалов всех мастей устроить кровопролитные войны за право владеть теми или иными благами королевств. Короли вынуждены бросить всё в попытках сохранить единство и контроль, а в Ватикане уже строят планы на новый Крестовый поход. Добро пожаловать во времена величия и падения целых империй, дипломатии и вероломных захватчиков — теперь вы правитель, способный повернуть неудержимую конницу хаоса вспять.</p>

            <p>Будьте мудры и поддерживайте тех, кто к вам благосклонен. Но даже у самых верных вам на уме могут гнездиться мысли о власти — станьте непоколебимым лидером и праведным героем, чьё имя будут воспевать в кабаках и на праздниках до скончания веков.</p>

            <p>• Узрите реальную историю. Начните твой поход в далёком 1066 году и двигайтесь всё дальше и дальше, вплоть до 153 года, играя добрым христианином и помогая его династии пронести через века своё величие. Прославляйте себя, захватывайте новые территории и защищайте верных вас вассалов и военачальников, проливая свет на интриги и готовящиеся дворцовые перевороты.</p>

            <p>• Сражайтесь и побеждайте. Мечом доблестного крестоносца сносите с плеч головы язычников, монголов, мавров и еретиков, что посмели бросить вам перчатку. Соперничайте не только с противниками, но и с собственными феодальными правителями. Покажите Папе, кто из вас праведнее и чище перед лицом Господа.</p>

            <p>• Пропустите через себя Смуту. Визуальный стиль и неповторимая атмосфера старых стратегий в сеттинге Средневековья позволит вам стать не просто участником исторических событий, но и лидером мнений — покажите себя знатоком Средних Веков в масштабной бойне на 32 игрока и не дайте чужакам развалить вашу прекрасную Империю.</p>
        </div>
        <div class="GamePageBuy"><a href="Chip">Купить за 99</a></div>
    </div>
