@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="midBoxContent">
    <div class="contentBox">
        <div class="boxImageGame"><img src="~/Content/image/slider/1.jpg"></div>
        <div class="priceGame"><a href="/Home/GtaV">Купить</a></div>
    </div>
    <div class="contentBox">
        <div class="boxImageGame"><img src="~/Content/image/games/darksouls2.jpg"></div>
        <div class="priceGame"><a href="/Home/darksouls">Купить</a></div>
    </div>
    <div class="contentBox">
        <div class="boxImageGame"><img src="~/Content/image/games/mordhau.jpg"></div>
        <div class="priceGame"><a href="/Home/mordhau">Купить</a></div>
    </div>
    <div class="contentBox">
        <div class="boxImageGame"><img src="~/Content/image/games/crusaderkings.jpg"></div>
        <div class="priceGame"><a href="/Home/crusaderkings">Купить</a></div>
    </div>
</div>