@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="GamePageBox">
    <div class="GamePageBoxImage"><img src="~/Content/image/games/mordhau.jpg"></div>
    <div class="GamePageBoxDesc"><p>
        <p>MORDHAU - это средневековая многопользовательская слешер от первого и третьего лица. Вступите в беспокойное поле битвы с участием до 64 игроков в качестве наемника в вымышленном, но реалистичном мире, где вы сможете испытать жестокий и насыщенный бой ближнего боя, который заставит вас всегда возвращаться снова и снова.</p>

        <p>Особенности:</p>

        <p>Массовые битвы: От небольших сражений до тотальной войны на 64 игрока в таких режимах, как Frontline и Battle Royale.
            Совместная и автономная игра: Сражайтесь с волнами врагов вместе с друзьями в кооперативном режиме Horde или отрабатывайте свои навыки в автономном режиме против ИИ.
            Бой в ближнем и дальнем бою в свободной форме: Получите полный контроль над своим персонажем и атаками и разработайте свой уникальный стиль.
            Глубокая настройка персонажа: Извлекайте свое лицо, создавайте оружие из частей и подбирайте отдельные части брони, чтобы создать идеального воина.
            Огромный арсенал оружия и снаряжения: Сразитесь с врагами с помощью великого меча, дождевых стрел сверху или даже откиньтесь назад и постройте укрепления.
            Сражайтесь где угодно: Испытайте кавалерийские атаки, сражайтесь на лестницах и управляйте осадными орудиями, такими как катапульта и баллиста.
            Висцеральный и кровопролитный бой: Почувствуй воздействие каждого удара и отправляй конечности в полет, когда ты наносишь ущерб своим противникам. (Кровь и кровь не являются обязательными)
            Правдоподобные бои: Игра, в которой бои выглядят правдоподобно, MORDHAU обеспечивает баланс между геймплеем и реализмом.</p>
    </p></div>
    <div class="GamePageBuy"><a href="Chip">Купить за 99</a></div>
</div>